body {
  width: 100vw;
  height: 100vh;
  background: url(https://i.pinimg.com/474x/fb/74/0a/fb740a5fe84d6e083750634514300a90.jpg);
  background-color: rgb(176, 161, 161);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  font-family: "Roboto", system-ui;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #245cc1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
#main {
  background-color: white;
  margin: 50px auto;
  padding: 30px;
  border-radius: 4px;
  opacity: 1;
  max-width: 600px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weatehr-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
